{% extends 'base.html' %} {% block title %}Create User{% endblock %} {% block
content %}
<h1>Create User</h1>
<form action="/" method="POST">
  <label for="first_name">First Name</label
  ><input type="text" name="first_name" placeholder=" first name" />
  <label for="last_name">Last Name</label
  ><input type="text" name="last_name" placeholder="last name" />
  <label for="image_url">Image URL</label
  ><input type="text" name="image_url" placeholder="provide url to image" />
  <button>Create User</button>
</form>
{% endblock %}
